#bartop{
  background-color: yellow;
  padding-top: 4px;
  padding-bottom:6px;
}


li{
  list-style-type:none;
  display: inline-block;
  padding-right: 5px;
}

#scd{
  padding-top: 30px;
}

.nv{
  padding-right: 5px;
}
